{% extends "bbworker/base.html" %}

{% block title %}Messages{% endblock %}
{% block header %}Your Messages{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Your Messages</h1>
    <h2>{{blood_bank.name}}</h2>
</div>

<div class="message-list">
    {% for recipient in message_list %}
        <div class="card mb-3">
            <div class="card-body">
                <strong>{{ recipient.message.title }}</strong> - [{{ recipient.send_date|date:"F j, Y, g:i A" }}]
                <p style="margin-left: 20px;">{{ recipient.message.body }}</p>
            </div>
            <hr>
        </div>
    {% empty %}
        <p>No messages to display.</p>
    {% endfor %}
</div>

{% endblock %}
