{% extends "base.html" %}
{% load static %}

{% block title %}CBOBBS{% endblock %}
{% block header %}CBOBBS{% endblock %}

{% block content %}
    <div class="logo-section">
        <div class="big-logo">
            <img src="{% static 'img/logo_placeholder.png' %}" alt="CBOBBS Logo" style="width: 250px; height: auto; margin-bottom: 30px;">
        </div>
        <h2 style="text-align: center; margin-bottom: 20px;">Cloud Based Online Blood Bank</h2>
        <p style="text-align: center; margin-bottom: 30px; font-size: 18px; color: #666;">Your donation can make a difference. Each donation can save up to three lives. Find a donation center near you today.</p>
        <div class="button-container">
            <a href="{% url 'find-bloodbanks' %}" class="login">Find Nearest Blood Bank</a>
            <a href="{% url 'eligibility' %}" class="btn-outline">Check your Eligibility</a>
        </div>
    </div>
    
    {% if not request.user.is_authenticated %} 
        <div class="login-section">
            <div class="login-form">
                <h2>Login</h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Email</label>
                        <input type="email" name="username" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password"name="password" placeholder="Enter your password" required>
                    </div>
                    
                    <button type="submit" class="btn-outline">Login</button>
                </form>                    
            </div>
        </div>
    {% endif %}

{% endblock %}