{% extends "base.html" %} 
{% block title %} CBOBBS - Login{% endblock %}
{% block header %} CBOBBS - Login{% endblock %}
{% block content %} 
    <div class="login-form">
        <h2>Login</h2>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Enter your username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password">
        </div>
    </div>
{% endblock %}