{% extends "base.html" %}
{% block title %} Login{% endblock %}
{% block header %} Login{% endblock %}
{% block content %}
    <div class="login-form">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <button type="submit" class="btn">Login</button>
        </form>
        
        <div class="login-buttons">
            <a href="{% url 'bb-login' %}" class="btn-outline">Bloodbank Worker Login</a>  <!-- Link to bloodbank worker login -->
            <a href="{% url 'hc-login' %}" class="btn-outline">Health Center Worker Login</a>  <!-- Link to health center worker login -->
        </div>
    </div>
{% endblock %}
