{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cloud Based Online Blood Bank System">
    <meta name="keywords" content="app free blood donation">
    <title>
        {% block title %}
        CBOBBS 
        {% endblock %}
    </title>    
    <link rel="shortcut icon" type="image/png" href="i{% static 'img/logo_placeholder.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/donor.css' %}">
</head>
<body>
    <header>
        <div class='title'>                
            <a href="{% url 'donor-dash' %}" class="nav-logo">
                <img src="{% static 'img/logo_placeholder.png' %}" alt="CBOBBS Logo">
            </a>
            <h1>{% block header %}CBOBBS{% endblock %} </h1> 
        </div>
    
        <div class="header-right">
            <div class="dropdown">
                <button class="dropbtn">Menu &#9662;</button>
                <nav class="dropdown-content">
                    <a href="{% url 'donor-appt' %}">My Appointments</a>
                    <a href="{% url 'donor-hist' %}">Donation History</a>                    
                    <a href="{% url 'donor-profile' %}">Profile</a>
                </nav>
            </div>
            <a href="{% url 'home' %}" class="login">Logout</a>
        </div>
    </header>
    
    <main>
        {% block content %}
            Content
        {% endblock %}         
    </main> 
    <footer>
        © 2025 CBOBBS
    </footer>
</body>
</html>